<!DOCTYPE html>
<html>
  <head>
    <title>Round Tracker</title>
  </head>
  
  <body>
    <table>
      <tr>
        <th>Round #</th>
        <th>Date Posted</th>
        <th>Number Invitations Sent</th>
        <th>Lowest Score</th>
      </tr>

      <% @all_rounds.each_with_index do |round, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= round.post_date.strftime('%b %d, %Y') %></td>
          <td><%= round.num_invitations %></td>
          <td><%= round.lowest_score %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>