html, body {
  background-image: url('../images/background.jpg');
}

html {
  display: table;
  margin: auto;
}

body {
  margin-top: 40px;
}

.container {
  background-color: white;
  border-radius: 7%;
  padding: 20px;
  width: auto;
  height: auto;
}

table, th, td {
  border-collapse: collapse;
}

th {
  font-family: Hoefler Text, serif;
  color: white;
}

th, tr {
  background: #6FBC70;
  letter-spacing: 0.7px;
}

td {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

tr:nth-child(even) {
  background: #D5F3D5
}

tr:nth-child(odd) {
  background: #FFF
}